.slider {
	@apply w-full;

	canvas {
		display: block;
		max-height: unset !important;
	}
}

// navigation
.swiper-button-prev {
	@apply text-pink hover:text-pink-expressive;

	&::after {
		font-size: 30px;
	}
}
.swiper-button-next {
	@apply text-pink duration-300 hover:text-pink-expressive;

	&::after {
		font-size: 30px;
	}
}

// pagination
.swiper-pagination-bullet {
	@apply bg-gray opacity-100;

	&.swiper-pagination-bullet-active {
		@apply w-6 rounded-lg bg-pink duration-500;
	}
}
.swiper-pagination {
	bottom: -2px !important;
}

.swiper-slide {
	@apply rounded-lg border border-light-gray bg-light-gray/20 p-2; // shadow-md
}
