.wrapper {
	@apply flex w-full;

	.page {
		@apply relative h-dvh w-full overflow-y-auto;
		height: var(--app-height);

		&.no-scroll {
			overflow: hidden;
		}

		@media (max-width: 1024px) {
			padding-left: 80px;
		}
	}
}

@media (max-width: 768px) {
	.wrapper {
		@apply flex-col-reverse;

		.page {
			@apply p-0;
			height: calc(100dvh - 72px);
			height: calc(var(--app-height) - 72px);
		}
	}
}
