.banner {
	@apply relative h-auto w-full overflow-hidden px-container py-10;

	&::before {
		content: '';
		@apply absolute left-0 top-0 -z-10 h-full w-full bg-pink bg-linear-primary blur-sm;
	}

	.title {
		@apply text-4xl font-bold text-dark;
	}
	.cards {
		@apply mt-8 flex flex-nowrap gap-3 overflow-x-auto;
	}

	.bannerInfo {
		@apply mb-1 ml-2 inline-block align-middle text-base font-normal text-dark;

		&__icon {
			> svg {
				@apply h-6 w-6 rounded-full text-dark-gray transition-colors duration-300 ease-in-out;
			}
			&:hover {
				> svg {
					@apply text-dark;
				}
			}
		}
	}
}

.image-banner {
	@apply relative aspect-auto h-60 w-full overflow-hidden;

	img {
		@apply absolute left-0 top-0 h-full w-full object-cover object-center;
	}

	@media (max-width: 768px) {
		@apply h-48;
	}
}
